body {
    font-family: sans-serif;
    margin: 0;
    background: #f6f7f9;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 2rem auto;
}
.spinner-table {
    height: 348px;
    width: 348px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}
.dial {
    height: 100%;
    transition: all 5s ease-out;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.dial.spinning {
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.44, -0.205, 0, 1.13);
    animation-name: spinning;
}
.dial:before {
    content: '';
    text-align: center;
    display: block;
    line-height: 60px;
    position: absolute;
    height: 40px;
    width: 40px;
    background: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 100%;
    z-index: 200;
}
.dial .slice {
    z-index: 150;
    position: absolute;
    top: calc(50% - 45.8148928635px);
    height: 91.6297857271px;
    left: 50%;
    width: 50%;
    color: white;
    text-align: right;
    padding-right: 10px;
    display: block;
    transform-origin: left center;
}
.dial .slice:before, .dial .slice:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}
.dial .slice:before {
    margin-bottom: -1px;
    margin-top: -2px;
    border-width: 0 0 49.8148928635px 175px;
    border-color: transparent transparent #095b8d transparent;
}
.dial .slice:after {
    margin-top: -1px;
    margin-bottom: -2px;
    border-width: 0 175px 49.8148928635px 0;
    border-color: transparent #095b8d transparent transparent;
}
.dial .slice:nth-child(even):after {
    border-color: transparent #063c5d transparent transparent;
}
.dial .slice:nth-child(even):before {
    border-color: transparent transparent #063c5d transparent;
}
.dial .slice .label {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70%;
    line-height: 91.6297857271px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 16px;
    text-align: right;
    padding-left: 20px;
}
.dial .slice:nth-child(1) {
    transform: rotate(0deg);
}
.dial .slice:nth-child(2) {
    transform: rotate(30deg);
}
.dial .slice:nth-child(3) {
    transform: rotate(60deg);
}
.dial .slice:nth-child(4) {
    transform: rotate(90deg);
}
.dial .slice:nth-child(5) {
    transform: rotate(120deg);
}
.dial .slice:nth-child(6) {
    transform: rotate(150deg);
}
.dial .slice:nth-child(7) {
    transform: rotate(180deg);
}
.dial .slice:nth-child(8) {
    transform: rotate(210deg);
}
.dial .slice:nth-child(9) {
    transform: rotate(240deg);
}
.dial .slice:nth-child(10) {
    transform: rotate(270deg);
}
.dial .slice:nth-child(11) {
    transform: rotate(300deg);
}
.dial .slice:nth-child(12) {
    transform: rotate(330deg);
}
@keyframes rotating {
    from {
        transform: rotate(0);
   }
    to {
        transform: rotate(360deg);
   }
}
@keyframes spinning {
    from {
        transform: rotate(0);
   }
    to {
        transform: rotate(330deg);
   }
}
.arrow {
    position: absolute;
    height: 30px;
    width: 50px;
    left: 380px;
    z-index: 500;
    display: block;
    top: 50%;
    margin-top: -15px;
    transform-origin: center right;
}
.pointer {
    z-index: 500;
    display: block;
    height: 30px;
    width: 50px;
}
.pointer:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 50px;
    border-color: transparent transparent #c27028 transparent;
}
.pointer:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 15px 0;
    border-color: transparent #c27028 transparent transparent;
}
.board {
    position: relative;
    background: white;
    padding: 50px;
}
button {
    background: #c27028;
    border: 0;
    padding: 15px 50px;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 20%;
}
